@charset "UTF-8";
.subcategory-title{
	color: black;
	margin-left:20vw;
	font-size:1.5vw;
	font-family: 'NanumSquareRound',sans-serif;
	margin-top:0;
}
.list-menu{
    width: 58vw;
    height: 22vh;
    margin-left: 20vw;
    border: 1px solid gray;
    background: whitesmoke;
    padding: 1vw;
    box-shadow: 1px 1px 2px grey;
}
.menu-sec{
	margin-left:2vw;
	margin-bottom:3vh;
}
.menu-sec img{
	margin-left:.3vw;
	width:1vw;
	cursor:pointer;
}
.review-search{
	height:2vh;
}
.menu-sec label{
	margin-right:1%;
	font-size:.8vw;
}
.list-menu h1{
    font-weight: 100;
    font-size: 1vw;
    margin-left: 2vw;
}
.list-menu h2{
	font-weight:100;
	font-size:.8vw;
	color:grey;
}
.review-list{
    width: 60vw;
    margin: 2vh 18vw;
    padding: 2vw;
}
.subcategory-list-title{
	font-size: 1.3vw;
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: 800;
	color: black;
	margin-bottom:2vh;
	width:98%;
	display: inline-block;
}
.write-btn{
	width:1.2vw;
	display: inline-block;
	cursor: pointer;
}
.subcategory-list-title a{
    font-size: 1vw;
    color: dimgray;
}
.review-item{
	box-shadow: 0px 1px 3px grey;
}

.review-item-wirter{
	font-size:.8vw;
	color:gray;
	font-style: italic;
	margin-right:1vw;
	margin:0;
}
.review-item-info{
	width:65%;
	display:inline-block;
	padding:2%;
}
.review-item-thumnail{
	width:30%;
	display:inline-block;
}
.review-item-thumnail img{
	width:90%;
	display:inline-block;
	padding:5%;
}
.review-item-likecnt{
	display:inline-block;
	font-size: .8vw;
}
.review-item-like-icon{
	width:.8vw;
}
 .review-item-table{
	border: 1px solid;
	border-collapse: collapse;
}
.review-item-table tr{
	cursor:pointer;
}

.review-item-title{
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap; 
    width:40vw;
    margin-bottom:1vh;
}
.review-item-regdate{
	color:grey;
	display: inline-block;
	font-size:.8vw;
	margin:0;
}
.review-item-content{
    font-size: .8vw;
    line-height: 3vh;
    text-overflow: ellipsis;
    height: 9vh;
    word-break: keep-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.overlay{
    border: 1px solid #ff9500;
    margin-left: 20vw;
    background: #ff9500;
    opacity: .7;
    position: absolute;
    cursor: pointer;
    display:none;
}
.overlay h1{
	color:snow;
	margin: 0;
	padding: 0;
	text-align:center;
}
.overlay-plus{
    font-size: 11vw;
}
.reivew-list-paging{
	width:80vw;
	text-align:center;
	margin-left:10vw;
}
.reivew-list-paging a{
	color:grey;
	cursor:pointer;
	font-size:.8vw;
	margin:0;
	padding:1%;
	border:1px solid white;
}
.reivew-list-paging a:hover{
	border:1px solid #F28705;
	color:crimson;
	border-radius:5px;
}
.category{
	width: 58vw;
    margin-left: 20%;
    padding-bottom:4vh;
    padding-left:2vw;
    margin-bottom:3vh;
    font-family: 'Nanum Gothic', sans-serif;
   	box-shadow: 1px 1px 2px grey;
   	border:1px solid grey;
}
.category h2{
	font-size:1vw;
	color: #262626;
	padding-top:2%;
}
.category a{
	margin-right:.8vw;
	cursor: pointer;
	text-decoration: none;
	color:grey;
}
.select-category{
	font-weight: bold;
}
