@charset "UTF-8";
.subcategory-title{
	color:crimson;
	margin-left:8vw;
	font-size:2vw;
	font-family: 'NanumSquareRound',sans-serif;
}
.read-menu{
    width: 80vw;
    height: 30vh;
    margin-left: 8vw;
    border: 1px solid gray;
    background: whitesmoke;
    padding: 2vw;
}
.menu-sec{
	margin-left:5vw;
	margin-bottom:3vh;
}
.menu-sec img{
	margin-left:.3vw;
	width:1vw;
	cursor:pointer;
}
.review-search{
	height:2vh;
}
.menu-sec label{
	margin-right:1%;
	font-size:1vw;
}
.read-menu h1{
	font-weight:100;
	font-size:1.5vw;
	margin-left:3vw;
}
.read-menu h2{
	font-weight:100;
	font-size:.8vw;
	color:grey;
}
.read-list{
	width: 80vw;
	height:100vh;
	margin:5vh 8vw;
	padding:2vw;
	border: 1px solid black;
}
.subcategory-list-title{
	font-size: 1.3vw;
	font-family: 'NanumSquareRound',sans-serif;
	font-weight: 800;
	color: crimson;
}