<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="../js/review/insert.js"></script>
<link rel="stylesheet" href="../css/review/insert.css">
<script type="text/javascript" src="../ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<div class="header"> </div>
<div class="insert-body">
	<h1>상품정보 작성</h1>
	<div class="category-box" id="main-category">
	
	<div class="select-box" id="main-box">
		<h4>MAIN CATEGORY</h4>
		<ul></ul>
	</div>
	
	<div class="select-box" id="sub-box">
		<h4>SUB CATEGORY</h4>
		<ul></ul>
	</div>
	<div class="select-box" id="company-box">
		<h4>제조사</h4>
		<ul></ul>
	</div>
	
	<div class="select-box" id="product-box">
		<h4>PRODUCT NAME</h4>
		<ul></ul>
	</div>

	</div>
		<form class="product-info" id="others-info" enctype="multipart/form-data">
		<label for="product-name" id="product-name-label">제품명</label><br/>
		<input type="text" id="product-name" maxlength="30" name="proTitle"><br/>
		<label for="product-company">제조사</label><br/>
		<input type="text" id="product-company" maxlength="30" name="proCompany"> <br/>
		<label for="product-price">가격(원)</label> <br/>
		<input type="text" id="product-price" maxlength="30" name="proPrice"> <br/>
		<label for="product-regdate">출시일</label> <br/>
		<input type="text" id="product-regdate" readonly name="proRegdate"> <br/>
		<label for="product-img">이미지</label> <br/>
		<input type="file" id="product-img" name="proThumnailImg">
		</form>
		<div class="product-info" id="product-info">
		</div>

	<h1>리뷰작성</h1>
	<input id="review-title" type="text" maxlength="50" placeholder="리뷰제목">
	<textarea class="form-control" id="p-content"></textarea>
	<h1>제품 점수</h1>
	<div id="review-rating">
	
	</div>
	<img src="../img/icon/write.png" id="review-submit-btn" title="리뷰작성">

</div>
</body>
</html>