<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="../js/review/list.js"></script>
<link rel="stylesheet" href="../css/review/list.css">
<title>Insert title here</title>
</head>
<body>
	<div class="header"></div>
	<div class="overlay">
		<h1 class="overlay-plus">+</h1>
		<h1 class="overlay-info">자세히 보러가기</h1>
	</div>
	<h2 class="subcategory-title">리뷰</h2>
	<div class="list-menu">
		<h1>상세검색</h1>
		<div class="menu-sec">
			<h2>제조사</h2>
			<input type="checkbox"><label>삼성</label> <input
				type="checkbox"><label>LG</label>

		</div>
		<div class="menu-sec">
			<h2>판매가</h2>
			<input type="checkbox"><label>1만원 이하</label> <input
				type="checkbox"><label>1~10만원</label> <input type="checkbox"><label>10~50만원</label>
			<input type="checkbox"><label>50~100만원</label> <input
				type="checkbox"><label>100만원이상</label> <label>직접입력 :</label><input
				class="review-search" type="text"> <img
				src="../img/icon/magnifier.png">
		</div>
	</div>
	<div class="review-list">
		<h1 class="subcategory-list-title"></h1>
		<table class="review-item-table"></table>
	</div>
</body>
</html>