<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="../js/review/list.js"></script>
<link rel="stylesheet" href="../css/review/list.css">
<title> 리뷰 리스트</title>
</head>
<body>
	<div class="header"></div>
	<div class="overlay">
		<h1 class="overlay-plus">+</h1>
		<h1 class="overlay-info">자세히 보러가기</h1>
	</div>
	<div class="category">
	<h2>메인 카테고리</h2>
	<div class="main-category">
	</div>
	<h2>서브 카테고리</h2>
	<div class="sub-category">
	</div>
	</div>
	<h2 class="subcategory-title">카테고리 - </h2>
	<div class="list-menu">
		<h1>상세검색</h1>
		<div class="menu-sec" id="man-company">
			<h2>제조사</h2>
		</div>
		<div class="menu-sec">
			<h2>판매가</h2>
			<input type="checkbox" class="price-checkbox" value="10000"><label>1만원 이하</label> 
			<input type="checkbox" class="price-checkbox" value="'10000' AND '100000'"><label>1만원 ~ 10만원 </label> 
			<input type="checkbox" class="price-checkbox" value="'100000' AND '1000000'"><label>10만원 ~ 100만원 </label> 
			<input type="checkbox" class="price-checkbox" value="1000000"><label>100만원이상</label> 
			<label>직접입력 :</label><input
				class="review-search" type="text"> <img
				src="../img/icon/magnifier.png">
		</div>
	</div>
	<div class="review-list">
		<h1 class="subcategory-list-title"></h1><img class="write-btn" src="../img/icon/write.png">
		<table class="review-item-table"></table>
	</div>
	<div class="reivew-list-paging">


	
	</div>
</body>
</html>