<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="../js/review/read.js"></script>
<link rel="stylesheet" href="../css/review/read.css">
<title></title>
</head>
<body>
<div class="header"></div>
<img src="../img/icon/left-arrow.png" class="list-btn" title="목록으로">
<div class="product">

</div>
<div class="review">
</div>
<img src="../img/icon/left-arrow.png" class="list-btn" title="목록으로">
<div class="comment">
</div>
</body>
</html>