.banner{
	width:100%;
	height: 40vh;
}
.banner div{
    transition: 0.1s;
}
.main-img1{
    width: 92vw;
    height: 100%;
    margin-left: 4vw;
}

.button-div{
    position: absolute;
    z-index: 100;
    margin-top: 15vh;
    margin-left: 96vw;
}
.index-body button{
	font-size: 40px;
    font-weight: normal;
    color: white;
    opacity: .8;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 0 10px;
    background: black;
}
.index-body button:hover{
	opacity:1;
	transition:.2s;
}
#item-slide-left-btn{
	position:absolute;
	margin-left:1vw;
	margin-top:29vh;
}

#item-slide-right-btn{
	position:absolute;
	margin-left:96vw;
	margin-top:29vh;
}
.new-item{
	margin-top:2%;
	width:9999px;
	height:40vh;
	transition:0.3s;
}
.item-section{
	width:100vw;
	padding-left:5vw;
	display:inline-block;
	
}
.index-title{
	color:crimson;
	margin-left:4vw;
}

.item-section-slot{
	margin-right:3%;
	border:2px solid black;
	width:12%;
	padding:20px;
	text-align:center;
	cursor:pointer;
	display:inline-block;
	height:25vh;
}

.item-section-slot:hover{
	border-color:crimson;
}
.item-section-slot a{
	display:block;
	color:black;
	text-decoration: none;
	font-size:1vw;
	padding-bottom:5px;
}
.item-section-slot p{
    font-size: 1.2vw;
    color: crimson;
    position: absolute;
    width: 13vw;
    font-weight: bold;
}
.item-section-slot img{
	width: 60%;
    height: 50%;
}
.new-review{
	margin-left:8vw;
}
.item-section-nav{
	width:100%;
	text-align:center;
	
}
.item-section-nav div:first-child{
	background:black;
}
.nav-circle{
	opacity:.8;
    border: 1px solid black;
    border-radius: 50%;
    width: 1vw;
    height: 2vh;
    background:transparent;
    display: inline-block;
    cursor:pointer;
}
#new-review-title{
	display:none;
}
.new-review-slot{
	margin-right:3%;
	border:2px solid black;
	width:41%;
	padding:20px;
	text-align:center;
	cursor:pointer;
	display:none;
	height:80vh;
	word-break:keep-all;
}
.new-review-slot:hover{
	border-color:crimson;
}
.new-review-slot h1{
	border-bottom:1px solid gray;
	font-size:1.5vw;
}
.new-review-slot img{
	width: 100%;
	height:60%;
}
.new-review-slot p{
	font-size:.9vw;
	position:absolute;
    width: 38%;
    line-height: 3vh;
}