<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="./js/account/account.js"></script>
<link rel="stylesheet" href="./css/account/account.css">
<title>로그인,회원가입,회원정보 찾기</title>
</head>
<body>
	<div class="header"></div>
	<div class="account">
		<div class="box" id="login-box">
			<h1 class="login-title">로그인</h1>
			<form class="login-form" name="login-form">
				<label for="id">ID</label><br /> <input class="id"
					type="text" name="id" maxlength="50"><br /> <label for="pw">Password</label><br />
				<input class="pw" type="password" name="pw" maxlength="50">
			</form>
				<button class="login-btn">Login</button>
			<a class="signform-call-btn">회원가입</a>
			<a class="findform-call-btn">아이디/비밀번호를 찾기</a>
		</div>


		<div class="box" id="sign-box">
			<h1 class="sign-title">회원 가입</h1>

			<form class="sign-form" name="sign-form">
				<label for="email">Email </label><br /> 
				<input class="email"type="email" placeholder="인증에 사용하실 이메일 주소" name="email" maxlength="50">
				<img class="email-check-icon" src="../img/icon/error.png"><br />
					 <label for="id">ID</label><br /> 
					 <input class="id" type="text" placeholder="로그인 시 사용하실 아이디" name="id" maxlength="50">
					 <img class="id-check-icon" src="../img/icon/error.png"><br />
				<label for="id">Password</label><br /> 
				<input class="pw" type="password" placeholder="로그인 시 사용하실 비밀번호" name="pw" maxlength="50"> 
				<img class="pw-check-icon" src="../img/icon/error.png"><br />
				<label for="pw">Password Check</label><br /> 
				<input class="pw-check" type="password" placeholder="비밀번호 한번 더 입력" maxlength="50">
				<img class="pw2-check-icon" src="../img/icon/error.png"><br />
			</form>
				<button class="sign-btn">Sign Up</button>
			<a class="loginform-call-btn">로그인 화면으로 돌아갈까요?</a>
		</div>
		
				<div class="box" id="find-box">
			<h1 class="find-title">회원 정보 찾기</h1>

			<form class="find-form" name="find-form">
				<label for="email">Email </label><br /> <input class="email"
					type="email" placeholder="가입할 때 입력하신 이메일 주소" name="email" maxlength="50">
			</form>	
				<button class="find-btn"> OK! </button>
			<a class="back-call-btn">로그인 화면으로 돌아갈까요?</a>
		</div>
	</div>
</body>
</html>