.banner{
	width:100%;
	height: 40vh;
}
.banner div{
    transition: 0.1s;
}
.main-img1{
    width: 92vw;
    height: 100%;
    margin-left: 4vw;
}

.button-div{
    position: absolute;
    z-index: 100;
    margin-top: 15vh;
    margin-left: 96vw;
}
.index-body button{
	font-size: 40px;
    font-weight: normal;
    color: white;
    opacity: .8;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 0 10px;
    background: black;
}
.index-body button:hover{
	opacity:1;
	transition:.2s;
}
#review-slide-left-btn{
	position:absolute;
	margin-left:1vw;
	margin-top:29vh;
}

#review-slide-right-btn{
	position:absolute;
	margin-left:96vw;
	margin-top:29vh;
}
.new-review{
	margin-top:2%;
	width:9999px;
	height:40vh;
	transition:0.3s;
}
.index-title{
	color:tomato;
	margin-left:4vw;
}
#doc-first{
	margin-left:4vw;
}
.document{
	margin-right:3.5vw;
	border:2px solid black;
	width:13vw;
	padding:20px;
	text-align:center;
	cursor:pointer;
	display:inline-block;
	height:30vh;
}

.document:hover{
	border-color:tomato;
}
.document h1{
	font-size:1.2vw;
	padding-bottom:5px;
	border-bottom:1px solid gray;
}
.document p{
	font-size:.6vw;
	position:absolute;
    width: 13vw;
}
.document img{
	width: 60%;
    height: 50%;
}
.new-item{
	margin-left:4vw;
}
