<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Review Web Site</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="./js/index.js" /></script>
<link rel="stylesheet" type="text/css" href="./css/index.css?ver=0">

</head>
<body>
	<div class="header"></div>
	<div class="index-body">

		<div class="banner">
			<img class="main-img1" src="../img/1.jpg">
		</div>
		<button class="slide-btn" id="item-slide-left-btn"><</button>
		<button class="slide-btn" id="item-slide-right-btn">></button>
		
		<h1 class="index-title" id="new-review-title">New Review</h1>
		<p class="index-title-info" id="new-review-title-info">새로 올라온 따끈한
			리뷰입니다!</p>

		<div class="review" id="new-review">
		
		</div>

		<h1 class="index-title" >Sale Item</h1>
		<p class="index-title-info">세일하는 물품리스트입니다!</p>
		
		<div class="sale-item">
			<div class="item-section" id="item-sec1">	</div>

			<div class="item-section" id="item-sec2">	</div>
		</div>
		<div class="item-section-nav">
			<div class="nav-circle" id="nav-circle1"></div>
			<div class="nav-circle" id="nav-circle2"></div>
		</div>

		<h1 class="index-title" id="best-review-title">Best Review</h1>
		<p class="index-title-info" id="best-review-title-info">최근 인기있는 리뷰입니다.</p>

		<div class="review" id="best-review">

		</div>

	</div>
</body>
</html>